#app{
    font-family: 'Montserrat', sans-serif;
}

/* link aktif */
.router-link-exact-active{
    font-weight: bold;
}
.btn-success{
    background-color: #4eb883;
}
.badge-success{
    background-color: #4eb883;
}

.card-product{
    border-radius: 15px;
}
.card-img-top{
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

/* breadcumb */
.breadcrumb{
    background-color: transparent;
    padding: 0;
}
.breadcrumb-item.active{
    font-weight: bold;
    color: black;
}

/* product detail */
.img-fluid{
    border-radius: 15px;
}